global
    maxconn 1000

defaults
    log     global
    mode    tcp
    retries 3
    timeout client  30m
    timeout connect 4s
    timeout server  30m
    timeout check   5s

listen postgresql
    bind *:5000
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-node1 172.16.0.201:5432 maxconn 300 weight 100 check port 8008
    server pg-node2 172.16.0.202:5432 maxconn 300 weight 100 check port 8008
    server pg-node3 172.16.0.203:5432 maxconn 300 weight 100 check port 8008

listen postgresql-replicas
    bind *:5001
    balance leastconn
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-node1 172.16.0.201:5432 maxconn 300 weight 100 check port 8008
    server pg-node2 172.16.0.202:5432 maxconn 300 weight 100 check port 8008
    server pg-node3 172.16.0.203:5432 maxconn 300 weight 100 check port 8008

listen postgresql-replicas-2
    bind *:5101
    balance leastconn
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-node1 172.16.0.201:5432 maxconn 300 weight 100 check port 8008
    server pg-node2 172.16.0.202:5432 maxconn 300 weight 100 check port 8008
    server pg-node3 172.16.0.203:5432 maxconn 300 weight 100 check port 8008

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
